[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
djangorestframework-oauth = "*"
pytz = "*"
django-money = "*"

[dev-packages]
black = "*"
isort = "*"
httpie = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
